@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-*: initial;
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --color-background: var(--color-white);
  --color-foreground: var(--color-black);

  --color-primary: var(--color-olive);
  --color-primary-foreground: var(--color-gray-50);

  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(240 5.9% 10%);

  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);

  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-ring: hsl(199 100% 48%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(240 10% 3.9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);

  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);

  --color-olive: #9eac4f;
}

@layer base {
  .dark {
    --color-background: hsl(213, 12.7%, 13.9%);
    --color-foreground: hsl(0, 0%, 100%);

    --color-primary: hsl(199 100% 48%);
    --color-primary-foreground: hsl(0 0% 100%);

    --color-secondary: hsl(240 3.7% 15.9%);
    --color-secondary-foreground: hsl(0 0% 98%);

    --color-muted: hsl(0 0% 15%);
    --color-muted-foreground: hsl(240 5% 64.9%);

    --color-accent: hsl(12 6.5% 15.1%);
    --color-accent-foreground: hsl(0 0% 98%);

    --color-destructive: hsl(0 62.8% 30.6%);
    --color-destructive-foreground: hsl(0 85.7% 97.3%);

    --color-border: hsl(240 3.7% 15.9%);
    --color-input: hsl(240 3.7% 15.9%);
    --color-ring: hsl(142.4 71.8% 29.2%);

    --color-card: hsl(24 9.8% 10%);
    --color-card-foreground: hsl(0 0% 95%);

    --color-popover: hsl(0 0% 9%);
    --color-popover-foreground: hsl(0 0% 95%);

    --color-chart-1: hsl(220 70% 50%);
    --color-chart-2: hsl(160 60% 45%);
    --color-chart-3: hsl(30 80% 55%);
    --color-chart-4: hsl(280 65% 60%);
    --color-chart-5: hsl(340 75% 55%);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply bg-background text-foreground;
  }
}
