@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --radius-*: initial;
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --color-background: var(--color-light);
  --color-foreground: var(--color-dark);

  --color-primary: var(--color-olive);

  --color-secondary: var(--color-sea);
  --color-secondary-lighter: var(--color-sea-300);
  --color-secondary-light: var(--color-sea-400);
  --color-secondary-dark: var(--color-sea-600);
  --color-secondary-darker: var(--color-sea-700);
  --color-secondary-foreground: var(--color-white);

  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);

  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);

  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --color-ring: hsl(199 100% 48%);

  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(240 10% 3.9%);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);

  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);

  /* Custom palettes */
  --color-light: #f5f5f5;
  --color-dark: #1f2328;

  --color-olive-50: #f7f8f5;
  --color-olive-100: #eceedc;
  --color-olive-200: #d8deb9;
  --color-olive-300: #c5cd95;
  --color-olive-400: #b1bd72;
  --color-olive-500: rgb(158, 172, 79);
  --color-olive-600: #7e8a3f;
  --color-olive-700: #5f672f;
  --color-olive-800: #3f4520;
  --color-olive-900: #202210;
  --color-olive-950: #0f1308;
  --color-olive: var(--color-olive-500);

  --color-sky-50: #f5f9fa;
  --color-sea-100: #dff1f7;
  --color-sea-200: #bee4ee;
  --color-sea-300: #9ed6e6;
  --color-sea-400: #7dc9dd;
  --color-sea-500: #5dbbd5;
  --color-sea-600: #4a96aa;
  --color-sea-700: #387080;
  --color-sea-800: #254b55;
  --color-sea-900: #13252b;
  --color-sea-950: #081216;
  --color-sea: var(--color-sea-500);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply bg-background text-foreground;
  }

  [type="checkbox"],
  [type="radio"] {
    appearance: none !important;
  }
  [type="checkbox"]:checked,
  [type="radio"]:checked {
    border-color: transparent !important;
    background-color: currentColor !important;
    background-size: 0.55em 0.55em;
    background-position: center;
    background-repeat: no-repeat;
  }
  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M1 5.917 5.724 10.5 15 1.5'/%3e %3c/svg%3e");
    print-color-adjust: exact;
  }
  [type="radio"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    background-size: 1em 1em;
  }
  [type="checkbox"]:indeterminate {
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 12'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M0.5 6h14'/%3e %3c/svg%3e");
    background-color: currentColor !important;
    border-color: transparent !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0.55em 0.55em;
  }
  [type="checkbox"]:indeterminate:hover,
  [type="checkbox"]:indeterminate:focus {
    border-color: transparent !important;
    background-color: currentColor !important;
  }

  .dark {
    --color-background: var(--color-dark);
    --color-foreground: var(--color-white);

    --color-primary: var(--color-olive-600);
    --color-primary-lighter: var(--color-olive-400);
    --color-primary-light: var(--color-olive-500);
    --color-primary-dark: var(--color-olive-700);
    --color-primary-darker: var(--color-olive-800);
    --color-primary-foreground: var(--color-white);

    --color-secondary: var(--color-sea-600);
    --color-secondary-lighter: var(--color-sea-400);
    --color-secondary-light: var(--color-sea-500);
    --color-secondary-dark: var(--color-sea-700);
    --color-secondary-darker: var(--color-sea-800);
    --color-secondary-foreground: var(--color-white);
  }
}
